<html>
	<head>
		<link href="supersub.css" rel="stylesheet" type="text/css">
		<script src="../jquery.min.js"></script>
		
		<script src="qsheets.js"></script>
		
		<script src="utils/xpass.js"></script>
		<script src="utils/mathfx.js"></script>
		<script src="utils/uifx.js"></script>
		<script src="utils/jsfx.js"></script>
		<script src="utils/setfx.js"></script>
		
		
		<script src="categories.js"></script>
		<!-- new question sheets go here -->
		<script src="sets/circularmotion.js"></script>
		<!--See 'sets/template.js' for a template-->
		<script src="README.js"></script>
		<!--Todo:
		- seeded rng
		- In-set changing of difficulty.
		- Answer generator for trigIntegrate
			- make a function which multiplies the pi numbers for you.
		- Move to heroku or sth
		- Local save progress (and login?)
		
		- student management console
		
		- nothing found for search
		- Test generator
			- A single question generator for simple single questions
		- par times
		- Separate answer sheets.
		- Nice titles, SEO
		- Advertisment
		
		-->
		
	</head>
	<body>
		<div id="contentButtons" style="display:none">
			<button id="reset">Back</button>
			<button id="regen">Generate More questions</button>
		</div>
		<div id="contentDiv">
		</div>
	</body>
</html>