
html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  background-color:"yellow"
}
div{
	display:none;
}
.mydiv{
	display:block;
}
ul{
	margin: 0;
}


#d_net{
	position:absolute;
	left:0;
	top:90%;
	margin:0;
	width:100vw;
	height:10%;
}

#d_mousenet{
	position:absolute;
	display:none;
	cursor:none;
	user-select:none;
}

#mousenet{
	width:20vw;
}

#mainCanvas{
	display:inline-block;
	position:absolute;
	width=100%;
	height=100%;
	margin=0;
}

#barnbtn{
	position:absolute;
	right:0;

}
#barn{
	display:none;
	position:absolute;
	width:90vw;
	height:80vh;
	left:5vw;
	top:10vh;
	margin:0;
	background-color:transparent;
	border:
}

.flip{
	transform:rotate(45deg);
	transform-origin: 0% 100%;
	transition: transform 0.1s linear;
}

.hidden{
	display:none;
}

.tabcontainer{
	position:absolute;
	display:block;
	top:5vw;
	height:94%;
	width:100%;
	background-color:white;
}

.activetab{
	display:block;
	height:100%;
	width:100%;
}


.tablinks{
	height:6%;

}

.tablinks li{
	 margin: 0px  5px;
	 user-select:none;
     float:left;
     list-style:none;
}

.tablinks a{
	padding:0px 2px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	background:#7FB5DA;
	font-size:5vw;
	font-weight:600;
	color:#4c4c4c;
    transition:all linear 0.15s;
}

li.active a{
	background:#a7cce5;
}

.tablinks{
    display:block;
    background-color: rgba(0,0,0,0);
}
