.addbutton{
	flex:0 1 5%;
}


#divider{
	flex: 0 1 2%;
	background-color:grey;
}

#header>span:first-child{
	font-size:3em;
	padding-left:0.5em;
}

.ico{
	padding: 5 5;
	width:20px;
	height:20px;
}

#problem_box, #solution_box{
	flex: 0 0 49%;
	display:flex;
	flex-direction: column;
}


#divider p{
	display:none;
}


.listbox p{
	display:inline-block;
	width:calc(100% - 100px);
}

@keyframes flash{
	0%{
		opacity: 0;
	}
	30%{
		opacity: 1;
	}
	60%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.flash{
	animation: flash 0.3s linear;
}